<!DOCTYPE html>
<html lang="en">
	<head>
		<title>首页</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/css/index.css">
	</head>
	<body>
		<h1>CodeStarter22222</h1>
		<a href="/code">代码编辑器</a>
		<%if(!isLogin){%>
			<a href="/access/login">用户登录</a>
			<a href="/access/register">用户注册</a>
		<%}else{%>
			<a href="/access/logout">用户登出</a>
			<p>用户列表</p>
			<%if(userList.length){%>
			<ul class="userList">
				<li><span class="name">用户名</span><span class="action">操作</span></li>
				<%userList.map(item=>{%>
					<li><span class="name"><%=item.name%></span><span class="delete">删除</span></li>
				<%})%>
			</ul>
			<%}else{%>
				<p>用户列表为空</p>
			<%}%>
		<%}%>	

		<p class="book"><span>书籍名称：</span><input type="text" name="" value=""><span>添加</span></p>

		<ul class="bookList">
			<%bookList.map(item=>{%>
				<li>
					<span>
						<a href="/book/detail/<%=item.book_name%>">
							<%=item.book_name%>
						</a>
						<input type="text" value="<%=item.book_name%>" style="display:none;"/>
					</span>
					<div>
						<span class="change">修改</span>
						<span class="save" style="display:none;">保存</span>
						<span class="cancel" style="display:none;">取消</span>
						<span class="delete">删除</span>
					</div>
				</li>
			<%})%>
		</ul>

		<script src="/js/jquery.js"></script>
		<script src="/js/index.js"></script>			
	</body>
</html>